body {
  font-family: "Courier New", Courier, monospace;
  margin: 0%;
  background-color: #f7f7f7;
}

header {
  position: fixed;
  background-color: #ffffff;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 0;
  box-shadow: 0 4px 12px #00000008;
  border-bottom: 1px solid rgba(9, 10, 11, 0.05);
  margin: 0;
  z-index: 1;
}

header img {
  width: 180px;
}

nav {
  width: 50%;
  display: inline;
  margin-right: 2%;
}

header ul {
  display: flex;
  justify-content: space-evenly;
}

ul {
  list-style: none;
}

header a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  padding: 51px;
}

header a:hover {
  background-color: gray;
  color: rgb(255, 255, 255);
}

main {
  margin-top: 10%;
  margin-left: 1%;
}
main img {
  width: 175px;
  height: 240px;
  transition: all 1s;
}

main ul {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: space-around;
  animation: 1s ease-out 0s 1 slideInFromLeft;
  position: relative;
}
@keyframes slideInFromLeft {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0);
    }
  }
main img:hover {
  transition: all 1s;
  transform: scale(1.4);
}

.films{
    color: black;
    margin-left: 80%;
}

h2 {
  text-decoration: underline;
}
footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    width: 100%;
}

footer img{
    width: 30px;
}